@font-face {
    font-family: roboto;
    font-weight: bold;
    src: url(roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: roboto;
    src: url(Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto;
    font-style: italic;
    src: url(Roboto/Roboto-Italic.ttf);
}
@font-face {
    font-family: roboto;
    font-weight: 300;
    src: url(Roboto/Roboto-Light.ttf);
}