@font-face {
    font-family: roboto;
    font-weight: bold;
    src: url(roboto/roboto-Bold.ttf);
}
@font-face {
    font-family: roboto;
    src: url(roboto/roboto-Regular.ttf);
}
@font-face {
    font-family: roboto;
    font-style: italic;
    src: url(roboto/roboto-Italic.ttf);
}
@font-face {
    font-family: roboto;
    font-weight: 300;
    src: url(roboto/roboto-Light.ttf);
}