* {
    margin: 0;
    padding: 0;
}
body {
    font-family: roboto regular;
    font-size: 18px;
}
.inicio {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "header header"
    "imagen texto-principal"
    "sobre-nosotros sobre-nosotros"
    "footer footer";
    grid-column-gap: 100px;
}
.pagina-contacto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "header"
    "principal-paginas"
    "footer";
}
@font-face {
    font-family: roboto bold;
    src: url(roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: roboto regular;
    src: url(Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto italic;
    src: url(Roboto/Roboto-Italic.ttf);
}
.header {
    background-color: #16421F;
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logotipo {
    vertical-align: middle;
}
.navegacion {
    display: inline-block;
    margin-left: 300px;
}
.navegacion__lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navegacion__lista__elemento {
    margin: 0 10px;
    display: flex;
    align-items: center;
    transition: transform 0.5s;
    transform-origin: left;
}
.navegacion__lista__elemento:hover {
    transform: scale(1.05);
}
.navegacion__lista__elemento:last-child .navegacion__lista__elemento__enlace:first-child {
    margin-right: 10px;
}
.navegacion__lista__elemento__enlace {
    text-decoration: none;
    color: white;
    font-family: roboto bold;
}
.imagen {
    grid-area: imagen;
}
.timbo_home {
    width: 100%;
    display: block;
}
.texto-principal {
    grid-area: texto-principal;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}
.timbo {
    color: #E10029;
    font-family: roboto bold;
}
.texto-principal__titulo {
    font-size: 45px;
    font-family: roboto regular;
    margin-top: 40px;
    transition: transform 1s;
    transform-origin: left;   
}
.texto-principal__titulo:hover {
    transform: scale(1.4);
}
.texto-principal__cuerpo {
    margin-top: 20px;
}
.texto-principal__cita {
    text-align: right;
    margin-top: 200px;
    font-family: roboto italic;
}
.firma {
    text-align: right;
    color: #E10029;
    font-family: roboto bold;
    margin-top: 10px;
}
.iconos {
    margin-top: 150px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.iconos__elemento {
    margin: 0px 25px;
}
.iconos__elemento:hover {
    animation: sacudida 0.5s infinite linear;
}
@keyframes sacudida {
    from,
    50%,
    to {
        transform: rotate(0);
    }
    25% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    
}
.iconos__elemento__enlace {
    text-decoration: none;
}
.sobre-nosotros {
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    max-width: 75%;
    grid-area: sobre-nosotros;
    display: flex;
    flex-direction: column;
}
.sobre-nosotros__titulo {
    font-size: 25px;
    margin-bottom: 20px;
}
.sobre-nosotros__cuerpo {
    display: flex;
    max-width: 90%;
}
.ver-mas{
    font-family: roboto bold;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 3px;
    border: solid #E10029; 
    border-radius: 7px;
    white-space: nowrap;
    align-self: flex-end;
    transition: transform 0.5s;
    transform-origin: left;
}
.ver-mas:hover {
    transform: scale(0.8);
}
.principal-paginas {
    max-width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    grid-area: principal-paginas;
}
.principal-paginas__titulo{
    font-size: 45px;
} 
.paginas__cuerpo {
    margin-top: 20px;
    margin-bottom: 20px;
}
.falso-carrusel {
    width: 100%;
}
.secundario-paginas {
    width: 1243px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.secundario-paginas__titulo {
    font-size: 25px;
}
.secundario-paginas__columna-uno {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}
.secundario-paginas__columna-dos {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
.secundario-paginas__columna-dos--verticalcentrado {
    vertical-align: middle;
    margin: auto;
}
.falso-menu-secundario {
    display: inline-block;
    margin-left: 40px;
}
.falso-menu-secundario__lista {
    list-style: none;
}
.falso-menu-secundario__elemento {
    border: black 1px solid;
    border-radius: 7px;
    padding: 10px;
    width: 530px;
    text-align: center;
    font-family: roboto bold;
    margin: 10px 0;
}
.falso-menu-secundario__elemento__enlace {
    text-decoration: none;
    color:black
}
.formulario {
    max-width: 800px;
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.formulario__grupo {
    margin-top: 10px;
}
.formulario__etiqueta {
    width: 29%;
    display: inline-block;
}
.formulario__campo {
    width: 69%;
    padding: 5px 0;
    border-radius: 7px;
    border: solid black 1px;
}
.campo__mensaje {
    display: block;
    width: 98.5%;
    border: solid black 1px;
    border-radius: 7px;
    margin-top: 10px;
}
.footer {
    background-color: #16421F; 
    padding-top:50px;
    grid-area: footer;
    display: flex;
    flex-direction: row;
}
.footer__texto {
    font-size: 14px;
    color: white;
    margin-left: 50px;
    padding-bottom: 40px;
}
.footer__logotipo {
    margin-left: 40px;
}
.contacto {
    font-family: roboto bold;
    text-decoration: none;
    color: white;
    transition: font-size 0.5s;
}
.contacto:hover {
    font-size: 16.8px;
}
.social {
    font-family: roboto bold;
    font-size: 14px;
    text-decoration: none;
    color: white;
    vertical-align: middle;
    margin-bottom: 40px;
    display: inline-block;
}
.footer__icono-social {
    vertical-align: middle;
    margin-right: 10px;
}
.footer__derecha {
    vertical-align: top;
    margin-left: 750px;
}
@media (max-width: 1470px) {
    .inicio {
        grid-column-gap: 50px;
    }
    .header {
        display: flex;
        flex-direction:column;
        align-items: flex-start;
    }
    .navegacion {
        margin-left:1%;
    }
    .navegacion__lista {
        display: flex;
        flex-direction:column;
        margin-top: 30px;
    }
    .navegacion__lista__elemento {
        margin-bottom: 10px;
        margin-right: 0px;
    }
    .texto-principal__cita{
        margin-top: 150px;
    }
    .iconos {
        margin-top: 100px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: left;
        max-width: 100%;
        }
    .footer__logotipo {
        margin-left: 2%;
        align-self: left;
        margin-bottom: 2%;
    }
    .footer__texto {
        margin-left: 5%;
        align-self: left;
    }
    .footer__centro {
        align-self: left;
        margin: 0px;
        max-width: 80%;
    }
    .footer__derecha {
        align-self: left;
        margin-left: 5%;
    }
}
@media (max-width: 1308px) {
    .texto-principal__cita {
        margin-top: 75px;
    }
    .iconos {
        margin-top: 50px;
        }
}
@media (max-width: 1200px) {
    .inicio {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "header header"
        "texto-principal texto-principal"
        "sobre-nosotros sobre-nosotros"
        "footer footer";
        column-gap: 0;
    }
    .timbo_home {
        display: none;
    }
    .texto-principal {
        margin: auto;
        margin-bottom: 60px;
        max-width: 80%;
        padding-right: 0;
    }
    .sobre-nosotros {
        max-width: 80%;
        margin: auto;
        margin-bottom: 40px;
    }
}
@media (max-width: 1000px) {
    .formulario {
        max-width: 80%;
    }
}
@media (max-width: 730px) {
    .iconos {
        flex-direction: column;
        align-self: center;
    }
    .formulario__etiqueta {
        display: block;
        width: 100%;
    }
    .formulario__campo {
        width: 100%;
    }
}