.footer {
    background-color: $color-principal; 
    height: auto;
}
.footer__institucional {
    margin-top: 20px;
}
.footer__texto {
    font-size: 14px;
    color: white;
    margin-top: 10px;
    margin-bottom: 40px;
}
.footer__titulo {
    color: white;
    font-family: roboto;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    margin-bottom: 30px;
}
.footer__redes,
.footer__contacto {
    margin-top: 44px;
}
.contacto {
    font-family: roboto;
    font-weight: bold;
    @extend .iconos__elemento__enlace;
    color: white;
}
.img-logo-footer {
    @include cuadrado(40px)
}